@tailwind base;
@tailwind components;
@tailwind utilities;


.cardWrapper {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: auto;
  /* height: 200px; */
}

.layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  height: 35%;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
