@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Bogue.ttf') format('truetype');
 
}

@font-face {
  font-family: 'ButterFont';
  src: url('./fonts/Butter-Regular.ttf') format('truetype');
  /* font-weight: bolder; */
}

@font-face {
  font-family: 'Lexend';
  src: url('./fonts/Lexend-Regular.ttf') format('truetype');
  /* font-weight: bolder; */
}