@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Bogue.ttf') format('truetype');
 
}

@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/DancingScript.ttf') format('truetype');
  /* font-weight: bolder; */
}

@font-face {
  font-family: 'Lexend';
  src: url('./fonts/Lexend-Regular.ttf') format('truetype');
  /* font-weight: bolder; */
}